html {
    -webkit-text-size-adjust: none;
}

body,
button,
input,
select,
textarea {
    font: normal 14px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "hei", Arial, "Lucida Grande", Verdana;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}


/*base.css start*/

ol,
ul {
    list-style: none;
}

capation,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: ' '
}

abbr,
acronym {
    border: 0;
}

label > * {
    pointer-events: none;
}

/*base.css end*/
body {
    min-width: 320px;
    background: #eeeeee;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    width: 100%;
    display: block;
}

input {
    width: 100%;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    width: 100%;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font: 600 1.286em/2 Tahoma;
}

ul,
ol {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none
}

em,
b,
i {
    font-style: normal;
    font-weight: normal;
}

.header {
    height: 44px;
}

.hidderHidden {
    display: none !important;
}

header {
    height: 44px;
    min-width: 320px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
}

header h1 {
    height: 44px;
    line-height: 44px;
    font-family: "Microsoft Yahei", Arial;
    font-weight: lighter;
    position: absolute;
    text-align: center;
    left: 55px;
    right: 55px;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}


/*刷新*/

.refresh_btn {
    height: 100%;
    top: 0;
    position: relative;
    z-index: 9;
    float: right;
}

.refresh_btn:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 40px;
    background-image: url("../img/refresh.png");
}

.share_btn {
    height: 100%;
    top: 0;
    position: relative;
    z-index: 9;
    float: right;
}

.share_btn:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15px;
    background-image: url("../img/share_icon.png");
}


/*返回*/

.returnico {
    display: block;
    width: 55px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
}

.returnico:before {
    content: '';
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    margin-left: -8px;
    border-left: 2px solid #333333;
    border-top: 2px solid #333333;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: none;
}


/*右侧功能按钮*/

.right_fun_btn {
    position: absolute;
    right: 9px;
    top: 10px;
    padding: 0 10px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    font-size: 15px;
    background: transparent;
    border: 0px solid #fff;
    color: #333333;
}


/*下拉按钮*/

.downico {}

.downico:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    left: 51px;
    top: -3px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    background: none;
}


/*loading icons*/

.loading_content {
    position: absolute;
    z-index: 1002;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.loading_icon {
    position: relative;
    height: 100%;
}

.busyIcon {
    position: relative;
    margin: 0 auto;
    top: 50%;
    width: 30px;
    height: 30px;
}

.container {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-border-radius: 10%;
}

.spinner {
    height: 50%;
    width: 50%;
    position: relative;
}

.spinner span {
    width: 8%;
    height: 28%;
    background-color: #999;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-border-radius: 32%;
    -webkit-animation: fade 1s linear infinite;
}

.spinner span:nth-child(1) {
    -webkit-transform: rotate(0deg) translate(0, -142%);
    -webkit-animation-delay: 0s;
}

.spinner span:nth-child(2) {
    -webkit-transform: rotate(30deg) translate(0, -142%);
    -webkit-animation-delay: -0.9167s;
}

.spinner span:nth-child(3) {
    -webkit-transform: rotate(60deg) translate(0, -142%);
    -webkit-animation-delay: -0.833s;
}

.spinner span:nth-child(4) {
    -webkit-transform: rotate(90deg) translate(0, -142%);
    -webkit-animation-delay: -0.75s;
}

.spinner span:nth-child(5) {
    -webkit-transform: rotate(120deg) translate(0, -142%);
    -webkit-animation-delay: -0.667s;
}

.spinner span:nth-child(6) {
    -webkit-transform: rotate(150deg) translate(0, -142%);
    -webkit-animation-delay: -0.5833s;
}

.spinner span:nth-child(7) {
    -webkit-transform: rotate(180deg) translate(0, -142%);
    -webkit-animation-delay: -0.5s;
}

.spinner span:nth-child(8) {
    -webkit-transform: rotate(210deg) translate(0, -142%);
    -webkit-animation-delay: -0.41667s;
}

.spinner span:nth-child(9) {
    -webkit-transform: rotate(240deg) translate(0, -142%);
    -webkit-animation-delay: -0.333s;
}

.spinner span:nth-child(10) {
    -webkit-transform: rotate(270deg) translate(0, -142%);
    -webkit-animation-delay: -0.25s;
}

.spinner span:nth-child(11) {
    -webkit-transform: rotate(300deg) translate(0, -142%);
    -webkit-animation-delay: -0.1667s;
}

.spinner span:nth-child(12) {
    -webkit-transform: rotate(330deg) translate(0, -142%);
    -webkit-animation-delay: -0.0833s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.25;
    }
    to {
        opacity: 1;
    }
}

.clr-999 {
    color: #999;
}

.blk30 {
    height: 30px;
}

.blk15 {
    height: 15px;
}

.blk10 {
    height: 10px;
}

.blk5 {
    height: 5px;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.pr {
    position: relative;
}

.row_5 {
    position: relative;
    max-height: 110px;
    overflow: hidden;
}


/*toast, loading, error*/

.toast_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.toast_content {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -27px;
    width: 240px;
    line-height: 24px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    word-break: break-all;
    display: none;
}

.loading_mask {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

.help_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1003;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
    display: none;
}

.help_mask .help_mask_content {
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
}

.help_mask .help_mask_content .help_title {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0 0;
}


/*滑动效果*/

#i_mainbox {
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 0px;
}

.refresh_content {
    line-height: 44px;
    text-align: center;
    color: #999;
}

/*倒计时*/
.code_input {
    padding-right: 120px;
}
.getCodeBtn {
    position: absolute;
    right: 0;
    top: 4px;
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
    color: #ffffff;
    width: 90px;
    cursor: pointer;
    background-color: #be9564;
    text-align: center;
    border-radius: 3px;
}
.getCodeBtn.time_button_disable {
    color: #999999;
}


.input_bxinfo {
  background: #fff;
  color: #666666;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  padding: 0 15px;
}

.input_section {
  border-bottom: 1px solid #efefef;
  padding-left: 68px;
  position: relative;
  min-height: 44px;
}

.input_section label {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 44px;
}
.input_section input {
  height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
}
.input_section select{
  height: 44px;
  line-height: 44px;
}
.arrow_down{
    padding-right: 35px !important;
}
.arrow_down:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 15px;
    top: 40%;
    margin-top: -5px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*首页*/
.index_botton_box{
    position: absolute;
    left: 15px;
    right: 15px;
    top: -50px;
}
.index_botton_box ul{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.index_botton_box li{
    position: relative;
    width: 50%;
    float: left;
}
.index_button_l{
    padding-right: 5px;
}
.index_button_r{
    padding-left: 5px;
}
.index_icons_box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.index_icons {
    background-image: url(../img/index_icons.png);
    background-repeat: no-repeat;
    background-size: 740px;
    width: 68px;
    height: 95px;
    margin: 0 auto;
    top: 12%;
    position: relative;
}
.index_icon_1 {
    background-position: -445px -47px;
}
.index_icon_2{
    background-position: -628px -47px;
}
.index_icon_3{
    background-position: -445px -182px;
}
.index_icon_4{
    background-position: -628px -182px;
}
.index_icon_5{
    background-position: -442px -317px;
}
.index_icon_6{
    background-position: -628px -317px;
}
.index_icon_1a {
    background-position: -47px -47px;
}
.index_icon_2a{
    background-position: -232px -47px;
}
.index_icon_3a{
    background-position: -47px -182px;
}
.index_icon_4a{
    background-position: -232px -182px;
}
.index_icon_5a{
    background-position: -43px -317px;
}
.index_icon_6a{
    background-position: -232px -317px;
}
.pop{
    position: absolute;
    bottom: 18px;
    width: 54px;
    right: 0px;
}
/*注册页面*/
.regist_btn {
    position: absolute;
    height: 32px;
    margin-top: 27px;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    background: #be9564;
    color: #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
    left: 15px;
    right: 15px;
    -webkit-tap-highlight-color: #e8aa01;
}
.regist_btn:active {
    background: #e8aa01;
}
/*精准阅读*/
.read_title_box{
    width: 100%;
    height: 135px;
    background-color: #ffffff;
    text-align: center;
}
.read_title1{
    font-size: 24px;
    color: #333333;
    height: 81px;
    line-height: 95px;
}
.read_title2{
    font-size: 14px;
    color: #999999;
}
.read_bottom_box{
    position: fixed;
    bottom: 0;
    height: 29px;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
}
.read_bottom_info{
    padding-top: 9px;
    font-size: 14px;
    color: #333333;
}

.regular_checkbox {
    -webkit-appearance: none;
    width: initial;
    background-color: #fafafa;
    border: 1px solid #be9564;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 50%;
    display: inline-block;
    position: relative
}
.read_bottom_info>label{
    position: relative;
    top: -3px;
}
.read_bottom_btn{
    position: absolute;
    right: 51px;
    top: 19px;
    height: 26px;
    width: 100px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    background: #be9564;
    color: #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
}
.read_keys{
    position: relative;
}
.read_keys>.small{
    position: absolute;
    border: 1px solid #999999;
    border-radius: 50%;
    color: #999999;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
}
.read_keys>.middle{
    position: absolute;
    border: 1px solid #999999;
    border-radius: 50%;
    color: #999999;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-size: 18;
}
.read_keys>.big{
    position: absolute;
    border: 1px solid #999999;
    border-radius: 50%;
    color: #999999;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}
.read_keys>.law{
    left: 27px;
    top: 27px;
}
.read_keys>.house{
    left: 101px;
    top: 59px;
}
.read_keys>.estate{
    right: 43px;
    top: 55px;
}
.read_keys>.divorce{
    left: 15px;
    top: 176px;
}
.read_keys>.tax{
    left: 150px;
    top: 183px;
}
.read_keys>.property{
    right: 38px;
    top: 213px;
}
.read_keys>.hukou{
    left: 129px;
    top: 268px;
}
.read_keys>.contact{
    left: 30px;
    top: 355px
}
.read_keys>.rule{
    left: 141px;
    top: 338px;
}
.read_keys>.huji{
    right: 23px;
    top: 354px;
}
/*阅读列表*/
.read_list_box{
    position: relative;
    background-color: #ffffff;
    padding: 15px 15px 15px 120px;
    border-bottom: 1px solid #efefef;
}
.read_list_img{
    position: absolute;
    left: 10px;
    top: 20px;
    width: 100px;
    height: 100px;
}
.read_list_title{
    font-size: 18px;
    font-weight: bold;
}
.read_list_content{
    color: #666666;
    font-size: 14px;
    padding: 10px 0;
}
.read_list_subtitle{
    position: relative;
    overflow: hidden;
    font-size: 12px;
}
.read_list_subtitle>div{
    position: relative;
    float: right;
}
.read_list_subtitle>div>span{
    color:#be9564;
}
/*阅读详情*/
.read_detail_box{
    position: relative;
    margin: 15px;
    padding: 15px;
    border: 1px solid #eeeeee;
    color: #666666;
    background-color: #ffffff;
    font-size: 14px;
}
.read_detail_title{
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    line-height: 44px;
}
.read_detail_keys{
    font-size: 12px;
    color: #666666;
    margin: 0 15px;
}
.read_detail_related{
    font-weight: bold;
    color: #666666;
    margin: 0 15px;
    height: 44px;
    line-height: 56px;
}
.product_info_box{
    position: relative;
    padding: 15px 10px 30px 75px;
}
.product_info_detail{
    padding: 15px 15px 15px 50px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 40px;
    border-radius: 5px;
    font-size: 13px;
    color: #999999;
}
.product_info_noselected_btn{
    position: absolute;
    left: 15px;
    top:30px;
    height: 26px;
    width: 100px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    background: #ffffff;
    color: #666666;
    border: 1px solid #cccccc;
    border-radius: 20px;
    letter-spacing: 2px;
}
.product_info_selected_btn{
    position: absolute;
    left: 15px;
    top: 70px;
    width: 100px;
    height: 26px;
    width: 100px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: bold;
    background: #be9564;
    color: #ffffff;
    border-radius: 20px;
    letter-spacing: 2px;
}
/*完成页*/
.finish_box{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
}
.finish_box img{
    padding-top: 100px;
    width: 100px;
    display: inline-block;
}
.finish_title{
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    height: 76px;
    line-height: 100px;
}
.finish_title2{
    font-size: 14px;
    color: #999999;
}
/*完善问题信息*/
.question_complete_title1{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    width: 100%;
    line-height: 91px;
    height: 77px;
}
.question_complete_title2{
    font-size: 14px;
    color: #666666;
    text-align: center;
    width: 100%
}
.question_complete_box{
    margin: 40px 15px 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
}
.question_complete_box textarea{
    width: 100%;
    background-color: #ffffff;
    border: 0px solid #cccccc;
    resize:none;
}
.question_complete_imgs{
    background-color: #ffffff;
    margin: 0 15px;
    border-top: 1px solid #efefef;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.question_complete_imgs>ul{
    position: relative;
    overflow: hidden;
    padding: 15px 0px 15px 15px;
}
.question_complete_imgs>ul>li{
    position: relative;
    float: left;
    width: 25%;
    padding-right: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.question_btns{
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}
.question_btns>li{
    position: relative;
    float: left;
    width: 50%;
    height: 60px;
}
.ok_btn{
    position: absolute;
    right: 5px;
    height: 26px;
    width: 100px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    background: #be9564;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 20px;
    letter-spacing: 2px;
}
.cancel_btn{
    position: absolute;
    left: 5px;
    height: 26px;
    width: 100px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    background: #cccccc;
    color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 20px;
    letter-spacing: 2px;
}
/*代查户口*/
.new_input_section{
    position: absolute;
    width: 100%;
    top: -31px;
}
.new_input_box{
    position: relative;
    margin: 0 15px;
    padding: 0 15px;
    background-color: #ffffff;
    padding-left: 75px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #efefef;
}
.new_input_box>label{
    position: absolute;
    left: 15px;
    color: #333333;
    line-height: 44px;
}
.new_input_box>input{
  height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap; 
  overflow: hidden;
  text-align: right;
}
.money{
    color: #be9564;
    font-size: 16px;
    font-weight: bold;
}
/*免费咨询*/
.free_ask_box{
    margin: 0 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
}
.free_ask_box textarea{
    width: 100%;
    background-color: #ffffff;
    border: 0px solid #cccccc;
    resize:none;
}
.free_ask_intro{
    font-size: 12px;
    color: #999999;
    margin: 0 15px;
}