html {
    -webkit-text-size-adjust: none;
}

body, button, input, select, textarea {
    font: normal 12px/1.5 "Hiragino Sans GB", "Microsoft YaHei", "hei", Arial, "Lucida Grande", Verdana;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}

body {
    min-width: 320px;
    height:100%;
    background: #f9f9f9;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1 {
    font: 600 1.286em/2 Tahoma;
}

ul, ol {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none
}

em, b, i {
    font-style: normal;
    font-weight: normal;
}

img {
    width: 100%;
}

.header {
    height: 44px;
}

.hidderHidden {
    display: none !important;
}

header {
    height: 44px;
    min-width: 320px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.blk10 {
    height: 10px;
    font-size: 1px;
}
.fr{
    float:right;
}
.fl{
    float:left;
}
.pr{
    position: relative;
}
.disnone{
    display: none;
}
.disBlock{
    display:block;
}
.paddingnone{
    padding: 0!important;
}
.paddingleft{
    padding: 0 0 0 15px;
}
.paddingleft10{
    padding-left:10px;
}
.paddingleft50{
    padding-left:50px;
}
.padding20{
    padding: 20px;
}
.paddingtop30{
    padding-top:30px;
}
.paddingbox{
    padding: 30px 50px;
}
.margintop24{
    margin-top:24px;
}
.margintop20{
    margin-top:20px;
}
.d_ind{
    z-index: 0!important;
}
label{
    font-weight: 400;
    font-size: 15px;
}
.site{
    padding-left:5px;
    padding-right:5px;
}
.width60 input{
    display: inline-block;
    width:60px;
}
.width80 input{
    width: 80px;
    display: inline-block;
}
.width60 .col-sm-2{
    padding-right:0;
}
.width60 .col-sm-1{
    padding:7px 0 0 0;
}
.pos_re>.col-sm-10{
    padding-bottom: 50px;
}
.heng{
    padding:7px 0 0;
    text-align: center;
}
.radio label, .checkbox label{
    min-width: 86px;
    padding-left:30px;
}
.peitao h5{
    padding-top:10px;
}
.btn_password{
    margin-left:10px;
}
.btn-yel{
    color:#5a4d0b;
    background:#ffcc00;
    padding:4px 24px;
}
.table-striped > tbody > tr:nth-of-type(even),.table-striped > thead > tr{
    background:#f9f9f9;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background:none;
}
/*toast, loading, error*/
.toast_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}

.toast_content {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -27px;
    width: 240px;
    line-height: 24px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    padding: 10px 15px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    word-break: break-all;
    display: none;
}

.loading_mask {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 1001;
    background-color: rgba(249, 249, 249, 1);
    display: none;
}

.loading_content{
    position: fixed;
    z-index: 1002;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.loading_icon{
    position:relative;
    height: 100%;
}
.busyIcon {
    position:relative;
    margin:0 auto;
    top: 50%;
    width:100px;
    height:100px;
}
.container {
    width:100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
    top:25%;
    left:25%;
    -webkit-border-radius: 10%;
}
.spinner {
    height: 50%;
    width: 50%;
    position: relative;
}
.spinner span{
    width: 8%;
    height: 28%;
    background-color:#999;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-border-radius: 32%;
    -webkit-animation: fade 1s linear infinite;
}
.spinner span:nth-child(1) {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}
.spinner span:nth-child(2) {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
.spinner span:nth-child(3) {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
.spinner span:nth-child(4) {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
.spinner span:nth-child(5) {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
.spinner span:nth-child(6) {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
.spinner span:nth-child(7) {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
.spinner span:nth-child(8) {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
.spinner span:nth-child(9) {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
.spinner span:nth-child(10) {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
.spinner span:nth-child(11) {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
.spinner span:nth-child(12) {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}
@-webkit-keyframes fade{
    from {opacity: 0.25;}
    to {opacity: 1;}
}
.help_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1003;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
    display: none;
}

.help_mask .help_mask_content {
    color: #fff;
    font-size: 13px;
    padding: 10px 20px;
}

.help_mask .help_mask_content .help_title {
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0 0;
}

a:hover, a:focus {
    text-decoration: none
}

.full_screen_img{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1004;
    background: rgba(0, 0, 0, .9);
    overflow: auto;
    text-align: center;
    display: none;
}
.full_screen_img>img{
    position: relative;
    max-width: 1000px;
    max-height: 1000px;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/*login*/
.login .submit {
    width: 100%;
}

.login .input-group {
    margin-top: 20px;
}

.login .input-group:first-child {
    margin: 0;
}

.login .text-right {
    color: #666;
}

.login .text-right small {
    font-size: 14px;
}

.login {
    position: absolute;
    width: 100%;
    height: 100%;
}

.login .login_body {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
}

.login .jumbotron {
    margin-top: 0px;
    position: relative;
    padding: 40px 50px 25px;
    position: relative;
    left: -250px;
    top: -240px;
}

.login .login_body h3 {
    position: absolute;
    top: -80px;
    left: 0;
    width: 490px;
    text-align: center;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid #a0d4ed;
    font-size: 30px;
}

.modify_password{
    position:relative;
}
.containerBox{
    width:520px;
    margin:0 auto;
}
.login .modify_form{
    position:static;
}
.cancel {
    background: #fff;
    color: #222;
    margin-left: 20px;
}

.submit {
    padding: 10px 30px !important;
}

.determine {
    padding: 10px 30px !important;
    margin-left: 32px;
}

.cancel:hover {
    background: #ccc;
}

.getCheck {
    top: 32px;
    font-size: 12px !important;
    background: none;
    border-color: #d7d7d7;
    padding: 8px 10px !important;
    color: #666;
    right: 16px;
}

.getCheck:hover {
    background: #ccc;
    border-color: #ccc;
}

.login .form-control {
    height: 48px;
}

.alertbox {
    width: 400px;
    margin-top: 200px;
}

.alertbox .jumbotron {
    padding: 0;
    text-align: center;
}

.modal-header h3 b {
    font-size: 70px;
    padding-bottom: 20px;
    color: #26cc72;
    display: inline-block;
}

.deter {
    width: 100%;
    border-radius: 0;
    border-top: 1px solid #d7d7d7;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
    right: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
}

.cir {
    background: #269abc;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.popover.right {
    margin-left: 30px;
}

.popover-content {
    padding: 5px 14px;
    color: #ce8483;
    font-size: 12px;
}

.popover > .arrow:after {
    border-width: 7px;
}

.popover.right > .arrow {
    margin-top: -6px;
    left: -6px;
}

.popover > .arrow {
    border-width: 6px;
}

.popover.right > .arrow:after {
    bottom: -7px;
}

.disnone {
    display: none;
}
.head_icon{
    width: 64px;
    height: 64px;
}
.blue_link{
    color: #0000CC;
    text-decoration:underline;
}
/*左边栏*/
.panel-heading {
    font-weight: 700;
    font-size: 14px;
}

*, ul {
    margin: 0;
    padding: 0
}

.container-fluid {
    background-color: #f9f9f9;
    padding: 0 !important;
    max-height: 1100px;
}

.breadcrumb {
    height: 60px;
    line-height: 60px;
    background: none;
    padding: 0;
    margin: 0
}

.breadcrumb a {
    font-size: 14px;
    color: #cccccc
}

.breadcrumb .active {
    font-size: 24px;
}

.navbar-default {
    border: none;
    border-bottom: 1px solid #e7e7e7;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.row, .j_tree_con {
    margin: 0;
    padding: 0
}

.logo {
    height: 60px;
    line-height: 60px;
    background: #c9a063;
    text-align: center;
    border-bottom: 1px solid #ffffff;
}

.logo > a {
    color: #fff;
}

li {
    list-style-type: none;
}

#i_tree {
    min-height: 800px;
    border-right: 1px solid #ccc;
}

#i_tree li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    color: #000;
    font-size: 14px;
    text-decoration: none;
}

#i_tree li ul {
    width: 100%
}

#i_tree li ul li a {
    padding-left: 40px;
    color: #c9a063;
}

#i_tree li a:hover {
    background-color: #c9a063;
    color: #fff !important
}

#i_tree li a.nav_select {
    background-color: #c9a063;
    color: #fff !important
}

#i_tree .glyphicon {
    width: 8px;
    margin-right: 5px;
}

.right-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px dashed;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

input[type=checkbox] {
    width: auto;
    vertical-align: middle;
    margin-top: 0;
    margin-left: 5px
}

.table th {
    text-align: center;
    background: #f0f0f0;
    font-size: 14px;
    white-space: nowrap;
}

.detail table tr td {
    vertical-align: middle
}

.detail table tr td:nth-child(2n+1) {
    font-weight: 700;
}

.table-bordered > thead > tr > th {
    border-bottom: 1px
}

input[type=file] {
    -webkit-appearance: none !important;
}
.btn-yel {
    color: #ffffff;
    background: #c9a063;
    padding: 4px 24px;
}
.pd15{
    padding-bottom: 15px;
}
.act_check{
    width:23px;
    height:23px;
    border:2px solid #ddd;
    border-radius: 2px ;
    transform:translateY(5px);
    margin-right: 10px;
    display:inline-block;
    position:relative;
    cursor:pointer;
}
.act_check.active{
    background:#468cc8;
    color:#fff;
}
.act_check.active:after{
    content:"\2713";
    position:absolute;
    top:50%;left:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
.artical_act{
    margin-right: 20px;
}
.dropdown-menu > li {
    cursor: pointer;
    text-align: center;
}
.dropdown-menu > li:hover {
    background-color: #f5f5f5;
    color: #262626;
}
.bs3 .dropdown-menu > li {
    padding: 3px 20px;
}
.bs3 .dropdown-menu > li:hover {
    background-color: #317dbc;
    color: #fff;
}
.bs3 .dropdown-menu > li.active {
    background-color: #317dbc;
    color: #fff;
}
.bs3.btn-group .dropdown-menu.shrink {
    min-width: initial;
}
.head_img{
    width: 165px;
    height: 100px;
    background: #eee;
    position: relative;
    cursor: pointer;
}
.head_img img{
    width: 100%;
    height: 100%;
    display: none;
}
.img_close{
    position: absolute;
    display: none;
    width: 20px;height: 20px;
    top: 0;right: 0;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 18px;
    color: #999;
    text-align: center;
    line-height: 18px;
}
.j_imgLoad{
    width: 100%;
    height: 100%;
}
.img_load span{
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
}
textarea.foreword{
    height: 140px;
    resize:none;
}
.btn_big{
    width: 135px;
    height: 45px;
    line-height: 32px;
    font-size: 16px;
}
.marginR26{
    margin-right: 26px;
}
.ar_summry{
    text-align: left;
}
/*倒计时*/
.code_input {
    padding-right: 120px;
}
.getCodeBtn {
    position: absolute;
    z-index: 9;
    right: 6px;
    top: 6px;
    display: inline-block;
    line-height: 36px;
    font-size: 12px;
    color: #ffffff;
    width: 90px;
    cursor: pointer;
    background-color: #f0ad4e;
    text-align: center;
    border-radius: 3px;
}
.getCodeBtn.time_button_disable {
    color: #cccccc;
}
.invest_result_pics{
}
.invest_result_pics>ul{
    position: relative;
    overflow: hidden;
    padding: 15px 0px;
}
.invest_result_pics>ul>li{
    position: relative;
    float: left;
    width: 33.333333%;
    padding-right: 15px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}