<script type="text/template" id="i_header_tpl">
    <nav class="navbar  navbar-default">
        <div class="container-fluid">
            <div class="navbar-header col-md-6">
                <ol class="breadcrumb">
                    <li class="active" id="i_headTitle"><%=title%></li>
                </ol>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class=" dropdown" role="presentation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" ><%=nickName%> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);"  id="i_reset">重置密码</a></li>
                            <li><a href="javascript:void(0);"  id="i_logOut">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</script>