<script type="text/template" id="i_navbar_tpl">
    <div class="logo"><a href="#">简法 后台管理系统</a></div>
    <div id="i_tree">
        <ul>
            <li class="j_auth_quan">
                <a href="user_management.html" class="i_tree_level <%=nav_select==1?'nav_select':''%>">
                <span class="glyphicon"></span>用户管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="article_management.html" class="i_tree_level <%=nav_select==2?'nav_select':''%>">
                <span class="glyphicon"></span>文章管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="employee_management.html" class="i_tree_level <%=nav_select==3?'nav_select':''%>">
                <span class="glyphicon"></span>员工管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="lawyer_management.html" class="i_tree_level <%=nav_select==4?'nav_select':''%>">
                <span class="glyphicon"></span>律师管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="invest_orders.html" class="i_tree_level <%=nav_select==5?'nav_select':''%>">
                <span class="glyphicon"></span>咨询订单管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="search_orders.html" class="i_tree_level <%=nav_select==6?'nav_select':''%>">
                <span class="glyphicon"></span>调查订单管理</a>
            </li>
            <li class="j_auth_quan">
                <a href="lawyer_home.html" class="i_tree_level <%=nav_select==7?'nav_select':''%>">
                <span class="glyphicon"></span>律师个人信息</a>
            </li>
        </ul>
    </div>
</script>
